<div class="row">
  <div class="col-lg-6 col-lg-offset-3 col-centered text-center pagination-centered">
    <div class="panel panel-default" style="min-height:300px;">
      <div class="panel-heading">
        <h3 class="panel-title">Select File</h3>
      </div>
      <div class="panel-body">
        <form action="/result" method="post" enctype="multipart/form-data">
          <input type="file" name="inputFile">
          <input type="submit" value="Upload">
        </form>
      </div>
    </div>
  </div>
</div>
